body {
    margin: 0;
    font-size: 1.2em;
    background-color: #e8e4e6;
}

header {
    width: 100%;
    height: 140px;
}

nav {
    width: 100%;
    height: 15%;
    display: flex;
    position: fixed;
    background-color: #2b2c34;
}

.navi {
    /*導覽列的按鈕們*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

li a {
    display: inline-block;
    color: #e8e4e6;
    text-align: center;
    text-decoration: none;
    padding: 5vh 4vw;
}

li a:hover {
    color: #f9bc60;
}

.logo {
    display: block;
    height: 7vh;
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;

}

.parent_i {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.child_i {
    display: block;
    width: 86%;
    max-width: 1600px;
    height: 650px;
    text-align: center;
    border-radius: 3vh;
    padding: 6vh;
    background-color: white;
    box-shadow: 10px 10px;
}

.parent_a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1450px;

}

.child_a {
    display: block;
    justify-content: center;

    width: 70%;
    max-width: 1200px;
    height: 80%;
    background-color: white;
    border-radius: 3vh;
    padding: 6%;
    box-shadow: 10px 10px #2b2c34;
}

.child_a h1 {
    margin: 0;
    color: #2b2c34;
    text-decoration: underline;
}

.child_a h3 {
    background-color: #2b2c34;
    color: white;
    border: solid;
    padding: 1.5vh;
    text-align: center;
}

.child_h h1 {
    margin: 0;
    color: #2b2c34;
    text-decoration: underline;
}

.child_h h3 {
    background-color: #2b2c34;
    color: white;

    border: solid;
    padding: 1.5vh;
    text-align: center;
}

.parent_h {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2400px;
}

.child_h {
    display: block;
    width: 70%;
    max-width: 1200px;
    height: 88%;
    background-color: white;
    border-radius: 3vh;
    padding: 6%;
    box-shadow: 10px 10px #2b2c34;
}

.gf1 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2b2c34;
}

.i_welcome {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
    height: fit-content;
}

.welcome {
    font-size: 5vh;
    height: fit-content;
    text-shadow: 1px 1px #696969;
}

.i_title {
    font-size: 6.5vh;
    margin: 0;
    text-shadow: 1px 1px #696969;
}

.ho_pho {
    width: 19vw;
    border-radius: 50%;
    margin: 8vh;
    max-width: 100%;


}

.index_pho {
    height: 26vw;
    max-width: 100%;
    border-radius: 50%;
    border-style: dashed;
    padding: 1%;
    margin-top: 3.5vh;
    max-width: 100%;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: #2b2c34;
    color: #e8e4e6;
    justify-content: center;
    font-size: 0.6em;
}

.ab_big {
    display: flex;
}

.ab_p {
    margin-bottom: 6vw;
    margin-right: 6vw;
    position: relative;
    width: fit-content;
}

.ab_pho {
    height: 20vw;
    float: right;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
}

.ho_movie {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mo_pic {
    width: 18vw;
    max-width: 100%;
}